@model MyStore_Entity_Week4.ViewModels.ItemsViewModel

@{
    ViewData["Title"] = "Grid";
}


<h1>List of Shop Items (@Model.CurrentViewName View)</h1>
<a href="/Item/Table" class="link-info">Table View</a>

<div class="container text-center text-sm-start ">
    <div class="row justify-content-sm-start justify-content-center gap-2 gap-md-4 gap-sm-3">
        @foreach (var item in Model.Items)
        {
            <partial name="_ItemCard" model="item"/>
        }
    </div>
</div>